@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
a{/*하이퍼링크 기본 스타일*/
    text-decoration-line: none;
    color: black;
}
body{
    width: 100%;
    height: auto;
    display: block;
    font-family: 'NanumSquareNeo-Variable';
}

/*-------------------------*/
.header-container-outline{/*헤더 기반 스타일*/
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f2f2f2;
}
.header-container{
    width: 980px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-c-section01{/*로고가 들어갈 섹션*/
    width:350px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.h-c-section02{
    width: 210px;
    height: 30px;
    margin-top: 15px;
}
.h-c-section03{
    width: 235px;
    height: 30px;
    display: inline-block;
    text-align: end;
    margin-top: 15px;
}
/*-----------헤더 종료-----------*/
main{/*main결정*/
    width: 100%;
    height: auto;
    display: block;
}
.m-o-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.m-c-banner-container{
    width: 980px;
    height: 450px;
}
div.m-o-c-banner-container{/*수업참고 js.day04*/
    margin:0 auto;
    width: 980px;
    overflow:hidden;
    position:relative;
    height: fit-content;
}

div.banner{
    width: 2940px;
    transition: transform 0.3s; /* transform 동작시 애니메이션 효과 0.5초*/
}

div.img{
    width : 980px;
    float :left;
}

div.img img{
    width:100%;
    display:block;
}

/* div.arrow{
    position: absolute;
    width: 30px;
    background-color: gray;
    height: 100%;
    line-height: 450px;
    text-align: center;
    font-size: 2rem;
    color: black;
    z-index: 1;
    cursor : pointer;
}

div.next{
    right: 0;
}	 */
/*---------main banner 종료----------*/
.m-o-community-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.m-o-c-c-section{
    width: 980px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.m-o-c-c-c-sec01,
.m-o-c-c-c-sec02{
    width: 450px;
    height: 450px;
    border: 1px solid black;
}
/* .m-o-c-c-c-sec02{
    margin-right: 50px;
} */
/*-----------main community*/
.footer-container-outline{/*풋터 기반 스타일*/
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e2e2e2;
}
.footer-container{
    width: 980px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.f-c-section02{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.footer-container-outline02{/*풋터 기반 스타일*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}
.footer-container02{
    width: 980px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* footer{
  position : relative;
  transform : translateY(-100%);
} */
/*-----------footer 종료--------------*/